html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

canvas {
    background-color: black;
}
