.mobile-btn-wrapper {
  position: absolute; 
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 1000;
}

.mobile-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 720px;
  pointer-events: auto;
  padding: 0 10px;
  gap: 560px;
}

.mobile-left-controls,
.mobile-right-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-btn-container button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(203, 175, 17, 0.8);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-btn-container button img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  pointer-events: none;
}

#mobile-buttons {
  pointer-events: none;
}

#mobile-buttons button {
  pointer-events: auto;
}

.burger-menu-container {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1000;
}

.burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.burger-dropdown {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  right: 8px;
  background-color: rgb(229, 204, 64);
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.burger-dropdown button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  text-align: right;
  cursor: pointer;
}

.burger-dropdown button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
